.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgb(215, 0, 24);
}

.logo__wrapper {
  padding: 8px 12px;
  display: flex;
  align-items: stretch;
}
