@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}
